{% extends "layout.html"%} {% block content %}
<section class="contact section bd-container" id="contact">
    <div class="contact__container bd-grid">
        <div class="contact__data">
            <span class="section-subtitle contact__initial">Hablemos</span>
            <h2 class="section-title contact__initial">Contacta con nosotros</h2>
            <p class="contact__description">
                Nuestros números de teléfono son 617-876-4897 o 617-876-0012.
                <br>
                Nuestro número de fax es 617-661-6188.
                <br>
                Encuéntranos en Twitter como @PinocchiosPizz y en Instagram como
                @pinocchiospizza1.
                <br>
                Nuestra dirección postal es:
                <br>
                Pinocchio's Pizza
                74 Winthrop Street
                Cambridge, MA 02138
                <br>
                Si tienes alguna pregunta, comentario o deseas suscribirte a
                nuestra lista de correo electrónico, puedes escribirnos a
                pinocchiospizza1@gmail.com.
            </p>
        </div>

        <div class="contact__button">
            <a href="#" class="button">Contactanos ahora</a>
        </div>
    </div>
</section>
{% endblock %}