{% extends "layout.html"%} {% block content %}
<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__data">
            <h1 class="home__title">Pinocchio's Pizza & Subs </h1>
            <h2 class="home__subtitle">Prueba la mejor pizza de <br> de la
                semana 🍕</h2>
            <a href="#" class="button">Ver Menu</a>
        </div>

        <img src="http://www.pinocchiospizza.net/images/building3.jpg" alt
            class="home__img">
    </div>
</section>
{% endblock %}