{% extends "layout.html"%} {% block content %}
 <section class="menu section bd-container" id="menu">
    <span class="section-subtitle">ESpecial</span>
    <h2 class="section-title">Menu de la semana</h2>

    <div class="menu__container bd-grid">
        <div class="menu__content">
            <img src="assets/img/plate1.png" alt="" class="menu__img">
            <h3 class="menu__name">Calzones</h3>
            <span class="menu__detail">De carne</span>
            <span class="menu__preci">C$22.00</span>
            <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
        </div>

        <div class="menu__content">
            <img src="assets/img/plate2.png" alt="" class="menu__img">
            <h3 class="menu__name">Ensalada</h3>
            <span class="menu__detail">Muy rica</span>
            <span class="menu__preci">C$12.00</span>
            <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
        </div>
        
        <div class="menu__content">
            <img src="assets/img/plate3.png" alt="" class="menu__img">
            <h3 class="menu__name">Pasta</h3>
            <span class="menu__detail">pasta italiana</span>
            <span class="menu__preci">C$9.50</span>
            <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
        </div>
    </div>
</section>
{% endblock %}